{% extends 'base.html.twig' %}
{% block vyrobce %}
        {% for vyrobce in vyrobce_list %}
            <option value="{{ vyrobce.vyrobce_id }}">{{ vyrobce.vyrobce_nazev }}</option>
        {% endfor %}
{% endblock %}
{% block typ_produktu %}
        {% for typ_produktu in typ_produktu_list %}
            <option value="{{ typ_produktu.typ_produktu_id }}">{{ typ_produktu.typ_produktu_nazev }}</option>
        {% endfor %}
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body %}{% endblock %}
